name: 'Terraform fmt'

on:
  push:
    branches:
    - main
  pull_request:

defaults:
  run:
    working-directory: .

jobs:
  terraform-validate:
    name: Validate the Terraform configuration files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Format
        run: terraform fmt -recursive -check
